
.header{
    background:#3D4750;
    height:150px;
}
.subheader{
    background:#33C7FF;
    height:100px;
}
.containerpag{
    margin-left: 5px;
    margin-right: 5px;
}
.pedido{
    width: 50px;
    height: 50px;
    margin-right: 5px;
}
.titlepedido{
    float: right;
    cursor: pointer;
}
